@import url('reset.css');

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.desaturate
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

.strip-input
{
  outline-style: none;
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:focus
  {
    outline: none;
  }
}

.opacity {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/*//////////////////////////////////////////////////////////////////////////*/

html {
  height: 100%;
  width: 100%;
}

body {
  background: url("../images/summer.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 24px;
}

p {
  font-family: 'Rosario', sans-serif;
}

section.main {
  text-align: center;
  padding-top: 15%;
}
