.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.desaturate
{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

.strip-input
{
  outline-style: none;
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:focus
  {
    outline: none;
  }
}

.opacity {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/*lighten on hover*/
.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

/*spin item*/
.spin {
  -webkit-animation: spin 4s infinite linear;
  -moz-animation: spin 4s infinite linear;
  -o-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
}
@-moz-keyframes spin {
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(359deg);}
}
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(359deg);}
}
@-o-keyframes spin {
  0% {-o-transform: rotate(0deg);}
  100% {-o-transform: rotate(359deg);}
}
@-ms-keyframes spin {
  0% {-ms-transform: rotate(0deg);}
  100% {-ms-transform: rotate(359deg);}
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(359deg);}
}


/*pop up item (add .animate with js)*/
.pop {
  opacity:0;
}

.pop.animate {
  -moz-animation-duration:.5s;
  -moz-animation-name:scaleUp;
  -webkit-animation-duration:.5s;
  -webkit-animation-name:scaleUp;
  animation-duration:.5s;
  animation-name:scaleUp;
  opacity:1;
}

@-webkit-keyframes scaleUp {
  from{
    -webkit-transform:scale(0.9);
    opacity:0;
  }
  
  to {
    -webkit-transform:scale(1);
    opacity:1;
  } 
}

@-moz-keyframes scaleUp {
  from {
    -moz-transform:scale(0.9);
    opacity:0;
  }
  
  to {
    -moz-transform:scale(1);
    opacity:1;
  }
}

@keyframes scaleUp {
  from {
    transform:scale(0.9);
    opacity:0;
  }
  
  to {
    transform:scale(1);
    opacity:1;
  }
}

/*js to pop up at certain scroll point:*/
/*	var pop = $( '.pop' );*/
/*    pop.waypoint( function( direction ){*/
/*        var $this = $( this );*/
/*        if( !$this.hasClass( 'animate' ) ){*/
/*            $this.addClass( 'animate' );*/
/*        }   */
/*    },*/
/*    {*/
/*        offset: '50%'*/
/*    });*/

